.vertical-centered {
    position: relative;       
    transform: translateY(50%);  
}
.loginarea { 
    -webkit-box-shadow:1px 2px 5px 1px #181818 ;
    -moz-box-shadow:1px 2px 5px 1px #181818 ;
    box-shadow:1px 2px 5px 1px #181818 ;    
}

.header, .sub-header {
    min-height: 60px;
}
.logo {
    width: 50px;
}

.btn-staff {
  color: #212529;
  background-color: #e2e6ea;  
}

.btn-staff:hover {
  color: #f8f9fa;
  background-color: #fd7e14;  
}

.breadcrumb-search {
    min-height: 60px;
    background-color: #fd7e14;
}
.main-content {
    height: 1200px; 
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none!important;
    }    
}

@media (min-width: 1920px) {
  .container-fluid {
    max-width: 1920px;
  }
}
