.vertical-centered {
    position: relative;       
    transform: translateY(50%);  
}
.loginarea { 
    -webkit-box-shadow:1px 2px 5px 1px #181818 ;
    -moz-box-shadow:1px 2px 5px 1px #181818 ;
    box-shadow:1px 2px 5px 1px #181818 ;    
}

.header, .sub-header {
    min-height: 60px;
}

.breadcrumb-search {
    min-height: 60px;
    background-color: #fd7e14;
}
.main-content {
    height: 1200px; 
}

@media (min-width: 1920px) {
  .container-fluid {
    max-width: 1920px;
  }
}