.loginarea {
    -webkit-box-shadow:1px 2px 5px 1px #181818 ;
    -moz-box-shadow:1px 2px 5px 1px #181818 ;
    box-shadow:1px 2px 5px 1px #181818 ;
}

.text-defaut {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.header, .sub-header {
    min-height: 60px;
}
.logo {
    width: 50px;
}

.logo-text {

}

.welcome-staff {
    position: relative;
    top: 8px;    
}

.dropdown-menu2 {
  position: absolute;
  z-index:1050;
  min-width: 10rem;  
  width: 360px;
  max-width: 90vw;
  right: 10%;
  padding: 0 0 4px 0;
  margin: 0;    
  border: 1px solid black;
  border-radius: 0.25rem;  
}

.staff-menu {
    position: absolute;
    z-index:1050;
    background-color: #f8f9fa;
    padding: 4px 0 4px 0;
    margin: 0;    
    border: 1px solid black;
    border-radius: 0.25rem; 
}
#SearchArea {
    position: absolute;
    right: 3rem;
    z-index: 1030;
}
.open-form {    
    height: 33px;
    width: 33px;
}

.btn-search-close {
    color: white;
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}
.btn-search-close:hover {
    color: black;
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
}

.collapsing.width {
    position: absolute;
    height: auto;  
    width: 0;
    overflow: hidden;
    transition: width 0.35s ease;
}

.dropdown-item-menu-center {
    position:relative;
    right:45%;
}

.dropdown-item, .dropdown-header, .dropdown-item-text {   
    padding: 6px 12px 6px 12px;  
    color:  black;
}

.dropdown-item:hover {
    background-color: #fd7e14;
    color: white;
}

.nav-link.active {    
    font-weight: 600;
}

.badge-alert {
    position: relative;
    top:-10px;
    left:20px;
}

.btn-staff {
    color: #212529;
    background-color: #e2e6ea;
}

.btn-staff:hover, .btn-staff-hover {
    color: #f8f9fa;
    background-color: #fd7e14;
}

.btn-mini {
    height: 35px;
    width: 35px;
}

.breadcrumb-search {
    min-height: 60px;
    background-color: #fd7e14;
}

.breadcrumb, .breadcrumb-item {
    background-color: transparent;
    display: inline-block;    
}
.breadcrumb-item + .breadcrumb-item::before {
    display: none;
}
.breadcrumb-item::after {
  display: inline-block;
  padding-right: 0rem;  
  color: #ea1b25;
  font-family:Font Awesome\ 5 Pro;
  font-weight: 900; 
  content: "\f0da";
}

.breadcrumb-item.active::after {
    display: none;
}

.breadcrumb-item::after {
    font-size: 20px;
    position: relative;
    top: 5px;    
}

.breadcrumb-item.active a{
    display: inline-block;
    color: black !important;
    font-size: 1.2rem;
    font-weight: 600;
    pointer-events: none;
}

.breadcrumb-item {
    display: none
}

.breadcrumb-item.active {
    display: inline-block
}
.breadcrumb-item a{
    color: snow;
    text-decoration: none;   
}

.breadcrumb-item a:hover, .breadcrumb-item a:focus {
    color: black;
    text-decoration: none;   
}

.main-content {
    height: 1200px;
}

.dash-tile {
    height: 10rem;    
}
.tile-content{
    width: 10rem;    
}
.tile-info {
    font-size: 3rem;
    font-weight: 100;
    color: white;    
}

.tile-text {
    font-size: 1rem;
    color: white;
}

@media (max-width: 576px) {
    .search-input {
        width: 120px;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none!important;
    }

}

@media (min-width: 1920px) {
    .container-fluid {
        max-width: 1920px;
    }
}
